@model NET_student_project.ViewModels.BaseCategoriesViewModel
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="padding-top:10px; padding-bottom:10px">
        <div class="container-fluid ">
            <div class="navbar-header">
                <a href="~/" class="navbar-brand" style="color:white; font-size:4rem; text-align:center; ">9GAG</a>
                <p class="divider"></p>
            </div>
            <div class="nav navbar-nav">

            </div>
            <ul class="nav navbar-nav navbar-right ">

                <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
                @Html.Partial("_LoginPartial")

            </ul>
        </div>
    </div>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-2 sidenav ">
                <h3>Popular</h3>
                <ul class="nav">
                    <li>@Html.ActionLink("Hot", "Index","Home", new { id = "Hot" , page = 0}, null)</li>
                    <li>@Html.ActionLink("Trending", "Index", "Home", new { id = "Trending" , page = 0 }, null)</li>
                    <li>@Html.ActionLink("Fresh", "Index", "Home", new { id = "Fresh" , page = 0 }, null)</li>

                </ul>

                <h3>Sections</h3>
                <ul style="list-style-type: none">
                    @{foreach (var item in Model.CategoriesNames)
                        {
                            <li>@Html.ActionLink(item, "MemesGetByCategory","Home", new { id = item }, null)</li>

                            
                        }
                    }
                </ul>
                    <ul class="nav"></ul>
            </div>
            <div class="col-sm-6 text-left">
                @RenderBody()

            </div>
            <div class="col-sm-4 sidenav">
                <div class="well">
                    <p>ADS</p>
                </div>
                <div class="well">
                    <p>ADS</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">


        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
